/* Setting the background for the body content */
body {
    background-color: #020202;
    font-family: 'Courier New', Courier, monospace !important; 
}

/* Positioning the portrait edit */
.background-edit {
    content:url("../images/bgedit.jpg");
    position: fixed;
    width: auto;
    height: 100%;
    left: 830px;
}

/* Paragraph text customize */
p {
    color: #D9D9D9;
    width: 700px;
    height: auto;
}

/* Link text customize */
a {
    color: #020202;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #D9D9D9;;
}

/* Positioning navigation elements (image and navbar) */
.navigation {
    position: relative;
    width: auto;
}

.navigation img {
    height: 195px;
}

.navigation > * {
    position: absolute;
    left: 100px;
    top: 40px;
    width: 700px;
    text-align: center;
}

.nav-bar {
    top: 260px;
}

.nav-bar ul {
    text-align: center;
    list-style: none;
    padding-top: 7px !important;
    padding-bottom: 7px !important;
    background: linear-gradient(125deg,#2c3e50, #27ae60,#2980b9,#e74c3c,#8e44ad);
    animation: gradient 5s linear infinite;
}

.nav-bar li {
    display: inline-block !important;
}

.nav-bar li:not(:last-child) {
    padding-right: 70px;
}

/* Gradient color animation */
@keyframes gradient {
    0%,100%
    {
        filter: hue-rotate(0deg);
    }
    50%
    {
        filter: hue-rotate(360deg);
    }
}






